
#panel, #panel:overview, #panel.unlock-screen, #panel.login-screen, #panel.lock-screen {
  background-color: #000;
  font-weight: 400;
  height: 21px;
  color: #dadada;
  /*font-feature-settings: "tnum";*/
  /*font-size: 8pt;*/
  box-shadow: none;
}

/*Buttons*/
#panel .panel-button, #panel:overview.panel-button, #panel.unlock-screen.panel-button, #panel.login-screen.panel-button, #panel.lock-screen.panel-button {
  /*-natural-hpadding: 7px;*/
  /*-minimum-hpadding: 7px;*/
  font-weight: 500;
  font-size: 7pt;
}

